
:root{
  --primaryGreen:#012b32;
  --secondaryGreen:#7af1a2;
  --creamwhite:#f4fdfe;
  --cardCream:#f4fff2;
  --thirdGreen:#c9e1cd;
  --globalWhilte:#ffffff;
  --globalblack:black;
  --searchIconGray: #e6eaed;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
/*reset*/
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*base styles*/
*{

  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--globalWhilte);
  font-family: 'Rubik',sans-serif;
}

#three div:nth-child(1)
{
  color: var(--globalWhilte);
  text-align: left;
  justify-self: center;
  
}

#five div:nth-child(1)
{
  background-color: var(--thirdGreen);
  color: var(--primaryGreen);
  text-align: left;
  justify-self: center;
}
#five .five1 .strategy{
  color: var(--creamwhite);
}
#five div:nth-child(2)
{
  background-color: var(--primaryGreen);
  color: #f4fdfe;
  
}
#five div:nth-child(3)
{
  background-color: var(--cardCream);
  color: var(--primaryGreen);
}
#five div:nth-child(4)
{
  background-color: var(--cardCream);
  color: var(--primaryGreen);
}
button{
  border-radius: 5px;
  background: none;
  padding-left: 5px;
  padding-right: 5px;
  width: 90px;
}
#container{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows: repeat(39,minmax(20px,auto));
  height: 100%;
  grid-gap: 2px;
  justify-content: center;/*aligns center horizontal*/
      
}

.logo a{
  color: var(--primaryGreen);
  font-size: 25px;
}

.links a{
  color: var(--primaryGreen);
  margin-left: 10px;
  margin-right: 10px;
}
.links select {
  color: var(--primaryGreen);
  border: none;
  font-size: 15px;
}

.links button{
  background-color: var(--primaryGreen);
  color: var(--globalWhilte);
  padding: 2px;
  font-size: 15px;
}
.imgserch{
  background-color: var(--searchIconGray);
  border-radius: 180px;
  margin-top: 5px;
}
.btn_booking{
  background-color: var(--globalWhilte);
  color: #012b32;
  border-radius: 5px;
  border-color: #ffffff;
  width: auto;
  height: 35px;
  margin-top: 5%;
}
.btn_contact{
  background-color: var(--primaryGreen);
  color: #ffffff;
  border-radius: 5px;
  border-color: #ffffff;
  width: auto;
  height: 35px;
  margin-top: 5%;
  margin-bottom: 5%;
}
/*mobile style*/
@media screen and (min-width:1.0px) {
  .scrollicon{
      margin-left: 65% auto;
      margin-bottom: 5px;
  }
  .moon{
      display: none;
  }
  .logo{
      grid-column: 1/3;
      color: var(--primaryGreen);
      align-self: center;
  }
  .pos-f-t{
      display: block;
  }
  .links{
      display: block;
      grid-column: 1/3;
      align-items: center;
  }
  .three{
      background-color: var(--primaryGreen);
      grid-column: 1/3;
      grid-row: 2/20;
      background-image: url(moon.png);
  }
  .four{
      background-color: var(--searchIconGray);
      grid-column: 1/3;
      grid-row: 20/26;
      
  }
  .three{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      height: 100%;
      grid-gap: 2px;
      text-align: center;
      align-items: center;
  }
  
  .four{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      height: 100%;
      grid-gap: 2px;
  }
  .five{
      background-color: var(--thirdGreen);
      grid-column: 1/3;
      grid-row: 26/40;
      
  }
  .five{
      display: grid;
      grid-template-columns:repeat(1,1fr);
      height: 100%;
      grid-gap: 10px;
      padding: 10px;
  }
  .five div{
      background-color: var(--cardCream);
      border-radius: 5px;
      z-index: 5;
      grid-template-columns:repeat(4,1fr);
      text-align: center;
      padding-top: 5%;
  }
  
  .four1{
      color: var(--primaryGreen);
      font-size: x-large;
      justify-self: center;/*aligns center horizontal*/
      align-self: center; /*aligns cennter vertical*/
  }
  .four img{
      width: 80%;
      aspect-ratio: 4/3;
      object-fit: contain;
      mix-blend-mode: color-burn;
  }

  
}
/*small tablets style*/
@media screen and (min-width:620px) {
  .scrollicon{
      margin-left: 65% auto;
      margin-bottom: 5px;
  }
  .pos-f-t{
      display: block;
  }
  .moon{
      display: none;
  }
  .logo{
      grid-column: 1/3;
      color: var(--primaryGreen);
      align-self: center;

  }
  .links{
      display: block;
      grid-column: 1/3;
      align-items: center;
  }
  .three{
      background-color: var(--primaryGreen);
      grid-column: 1/3;
      grid-row: 2/20;
      background-image: url(moon.png);
  }
  .four{
      background-color: var(--searchIconGray);
      grid-column: 1/3;
      grid-row: 20/26;
      
  }
  .three{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      height: 100%;
      grid-gap: 2px;
      text-align: center;
      align-items: center;
  }
  .four{
      display: grid;
      grid-template-columns:repeat(4,1fr);
      height: 100%;
      grid-gap: 2px;
  }
  .five{
      background-color: var(--thirdGreen);
      grid-column: 1/3;
      grid-row: 26/40;
      
  }
  .five{
      display: grid;
      grid-template-columns:repeat(4,1fr);
      height: 100%;
      grid-gap: 10px;
      padding: 10px;
  }
  .five div{
      background-color: var(--cardCream);
      border-radius: 5px;
      z-index: 5;
      grid-template-columns:repeat(4,1fr);
      text-align: center;
      padding-top: 5%;
  }
  
  .four1{
      color: var(--primaryGreen);
      font-size: x-large;
      justify-self: center;/*aligns center horizontal*/
      align-self: center; /*aligns cennter vertical*/
  }
  .four img{
      width: 65%;
      aspect-ratio: 4/3;
      object-fit: contain;
      mix-blend-mode: color-burn;
  }


}
/*large tablets and laptops style*/
@media screen and (min-width:960px) {
  .scrollicon{
      margin-left: 65%;
      margin-bottom: 5px;
  }
  .pos-f-t{
      display: none;
  }
  .moon{
      display: block;
  }
  .logo{
      grid-column: 1/2;
      color: var(--primaryGreen);
      align-self: center;
      margin-left: 5%;
  }
  .links{
      display: block;
      grid-column: 2/3;
      align-items: center;
  }
  .three{
      background-color: var(--primaryGreen);
      grid-column: 1/3;
      grid-row: 2/20;
      background-image: none;
  }
  .four{
      background-color: var(--searchIconGray);
      grid-column: 1/3;
      grid-row: 20/26;
      
  }
  .three{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      height: 100%;
      grid-gap: 2px;
      text-align: center;
      align-items: center;
  }
  .four{
      display: grid;
      grid-template-columns:repeat(8,1fr);
      height: 100%;
      grid-gap: 2px;
  }
  .five{
      background-color: var(--thirdGreen);
      grid-column: 1/3;
      grid-row: 26/40;
      
  }
  .five{
      display: grid;
      grid-template-columns:repeat(4,1fr);
      height: 100%;
      grid-gap: 10px;
      padding: 10px;
  }
  .five div{
      background-color: var(--cardCream);
      border-radius: 5px;
      z-index: 5;
      grid-template-columns:repeat(4,1fr);
      text-align: center;
      padding-top: 5%;
  }
  
  .four1{
      color: var(--primaryGreen);
      font-size: x-large;
      justify-self: center;/*aligns center horizontal*/
      align-self: center; /*aligns cennter vertical*/
  }
  .four img{
      width: 65%;
      aspect-ratio: 4/3;
      object-fit: contain;
      mix-blend-mode: color-burn;
  }
  
}
/*desktop style*/
@media screen and (min-width:1200px) {
  .scrollicon{
      margin-left: 65%;
      margin-bottom: 5px;
  }
  .pos-f-t{
      display: none;
  }
  .moon{
      display: block;
  }
  .logo{
      grid-column: 1/2;
      color: var(--primaryGreen);
      align-self: center;
      margin-left: 5%;
  }
  .links{
      display: block;
      grid-column: 2/3;
      align-items: center;
  }
  .three{
      background-color: var(--primaryGreen);
      grid-column: 1/3;
      grid-row: 2/20;
      background-image: none;
  }
  .four{
      background-color: var(--searchIconGray);
      grid-column: 1/3;
      grid-row: 20/26;
      
  }
  .three{
      display: grid;
      grid-template-columns:repeat(2,1fr);
      height: 100%;
      grid-gap: 2px;
      text-align: center;
      align-items: center;
  }
  .four{
      display: grid;
      grid-template-columns:repeat(8,1fr);
      height: 100%;
      grid-gap: 2px;
  }
  .five{
      background-color: var(--thirdGreen);
      grid-column: 1/3;
      grid-row: 26/40;
      
  }
  .five{
      display: grid;
      grid-template-columns:repeat(4,1fr);
      height: 100%;
      grid-gap: 10px;
      padding: 10px;
  }
  .five div{
      background-color: var(--cardCream);
      border-radius: 5px;
      z-index: 5;
      grid-template-columns:repeat(4,1fr);
      text-align: center;
      padding-top: 5%;
  }
  
  .four1{
      color: var(--primaryGreen);
      font-size: x-large;
      justify-self: center;/*aligns center horizontal*/
      align-self: center; /*aligns cennter vertical*/
  }
  .four img{
      width: 65%;
      aspect-ratio: 4/3;
      object-fit: contain;
      mix-blend-mode: color-burn;
  }
 
}